[ml2]
type_drivers = flat,vlan,vxlan
tenant_network_types = vxlan
mechanism_drivers = openvswitch,l2population
extension_drivers = port_security

[ml2_type_flat]
flat_networks = {{ provider_network_name }}

[ml2_type_vxlan]
vni_ranges = {{ vni_range_start }}:{{ vni_range_end }}

